{% load static %}

<!-- CSS del Footer Dashboard -->
<link rel="stylesheet" href="{% static 'css/componentes/footer_dashboard.css' %}">

<!-- Footer para Dashboards -->
<footer class="dashboard-footer">
    <p>&copy; 2026 Sistema de Alojamiento. Todos los derechos reservados.</p>
    <!-- <div class="footer-links">
        <a href="{% url 'inicio:inicio' %}">
            <i class="fas fa-home"></i> Inicio
        </a>
        <a href="{% url 'autenticacion:password_change' %}">
            <i class="fas fa-key"></i> Cambiar Contraseña
        </a>
        <a href="#">
            <i class="fas fa-question-circle"></i> Ayuda
        </a>
    </div> -->
</footer>

<!-- JS del Footer Dashboard -->
<script src="{% static 'js/componentes/footer_dashboard.js' %}" defer></script>
