/* Modal editar producto */

#modal-editar-producto .stock-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

@media (max-width: 768px) {
    #modal-editar-producto .stock-grid {
        grid-template-columns: 1fr;
    }
}
